## Reading and writing files

In [ ]:
# Writing
with open('greeting.txt', 'w') as file:
    file.write('Hello, AI World!')

In [ ]:
# Reading file
with open('greeting.txt', 'r') as file:
    content = file.read()
    print(content)  # Output: Hello, AI World!

Hello, AI World!

In [ ]:
# Writing CSV
import csv
data = [['Name', 'Age'], ['Alice', 25], ['Bob', 30]]
with open('users.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(data)

In [ ]:
#read csv
with open('users.csv', 'r') as file:
    content = file.read()
    print(content)  # Output: Hello, AI World!

Name,Age
Alice,25
Bob,30

In [ ]:

# Writing JSON
import json
user_data = {'name': 'Alice', 'age': 25, 'active': True}
with open('user.json', 'w') as file:
    json.dump(user_data, file, indent=2)

In [ ]:
# without using json
file = open('user.json', 'w')
json.dump (user_data, file, indent=2)
file.close()

## Serialization / Pickle

In [16]:

# Store the user object in to a file
import pickle

user = {"name": "", "age": 0, "active": False}
# input for all the items
user["name"] = input("Enter your name: ")
user["age"] = int(input("Enter your age: "))
user["active"] = input("Are you active? (yes/no): ").lower() == "yes"

print (user)

with open('user.pkl', 'wb') as file:
    pickle.dump(user, file)

Enter your name: abc
Enter your age: 90
Are you active? (yes/no): no
{'name': 'abc', 'age': 90, 'active': False}

In [14]:
user['name'] = 'Peter'
print (user)

{'name': 'Peter', 'age': 30, 'active': True}

In [15]:
# get the data back to life
with open('user.pkl', 'rb') as file:
    user_data = pickle.load(file)
    print(user_data)  # Original dict restored!

{'name': 'Jerry Greenberg', 'age': 30, 'active': True}

## Database

In [17]:
## Creating the table

import sqlite3

# Connect (creates file if doesn't exist)
conn = sqlite3.connect('students.db')
cursor = conn.cursor()

# Create table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS students (
        id INTEGER PRIMARY KEY,
        name TEXT NOT NULL,
        grade INTEGER,
        email TEXT
    )
''')

In [18]:
## Insert records
cursor.execute("INSERT INTO students VALUES (1, 'Alice', 85, 'alice@email.com')")
cursor.execute("INSERT INTO students VALUES (2, 'Bob', 92, 'bob@email.com')")

conn.commit()
conn.close()

In [27]:
conn = sqlite3.connect('students.db')
cursor = conn.cursor()

# Select all students
cursor.execute("SELECT * FROM students ")
all_students = cursor.fetchall()
print(all_students)  # [(1, 'Alice', 85, 'alice@email.com'), ...]

[(1, 'Sridevi', 85, 'alice@email.com')]

In [22]:
# Update
cursor = conn.cursor()

# Select all students
cursor.execute("update students set name = 'Sridevi' where id=1")
conn.commit()

In [26]:
# Delete
cursor = conn.cursor()

# Select all students
cursor.execute("delete from students where id=2")
conn.commit()